# Choose local ports; these will be mapped to ports 80 and 443 in your docker container
WP_HTTP_PORT=8181
WP_HTTPS_PORT=8443

# .env files do not support variable interpolation! Make sure your WP_HOME port
# matches WP_HTTPS_PORT above!
WP_ENV=development
WP_HOME=https://localhost:8443
# Bedrock serves WordPress from the /wp directory
WP_SITEURL=${WP_HOME}/wp
WP_SITE_TITLE="Your Site Title"
WP_THEME_NAME=sage

WP_ADMIN_USERNAME=admin
WP_ADMIN_PASSWORD=SooperSeekrit123%$
WP_ADMIN_EMAIL="someone@test.com"

# PHP Debug Logging
# WP_DEBUG_LOG=true  # Defaults to true for development environment, false otherwise
WP_DEBUG_LOG_PATH='/web/app/debug.log'
WP_DEBUG_LOG_MAX_SIZE=20 # 20MB max size
WP_DEBUG_LOG_MAX_AGE=30  # Keep backups for 30 days

DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=secret
DB_HOST=db
DB_PORT=3306
# Optional database variables
# DB_HOST='localhost'
# DB_PREFIX='wp_'

XDEBUG_PORT=9025
XDEBUG_IDEKEY=CURSOR

# version of Sage theme to install, by default use latest as of now
# can change to dev-master if you want to live on the edge
SAGE_VERSION=11.0.1

VITE_PORT=5173

# YOU MUST Generate your keys here: https://roots.io/salts.html
# then paste into your .env file
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
